.gitignore
.idea
*/.gitignore
*/.idea
*/*.iml
*/*.xml
*.xml
*/out
out
.DS_Store
*/.DS_Store
/Lecture Code
Lecture Code
Lecture Code/*.pdf
/Lecture\ Code/
/Materials/*.pdf
/Materials
Materials
/src
*/src
*.pdf
*/*.pdf